
.purple-button{
    padding: 9px 16px;
    border: none;
    background-color: #6366f1;
    color: white;
    border-radius: 6px;
}
.card-black{
    background-color: #1E212B;
    color: white;
    border-radius: 10px;
}
h1 p{
    margin-bottom: 12px;
}
label{
    display: block;
    margin-bottom: 8px;
}
h2{
    color: white;
}
.body-card{
    padding: 26px;
}
h5{
    font-weight: 500;
    font-size: 18.5px;
}
.card-black input{
    width: 100%;
    background-color: #10141E;
    border-color: rgba(255, 255, 255, 0.158);
    padding: 8px 16px;
    border-radius: 9px;
    color: rgba(255, 255, 255, 0.808);
}
.card-black input:focus{
    background-color: #10141E;
    caret-color: white;
    border-color: rgba(255, 255, 255, 0.356);
    box-shadow: none;
    color: rgba(255, 255, 255, 0.808);
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.form-control {
    max-height: 470px;
    background-color: #10141E;
    color: white;
    border-color: rgba(255, 255, 255, 0.158);
    border-radius: 9px;
}
.form-control:focus {
    max-height: 470px;
    background-color: #10141E;
    color: white;
    border-color: rgba(255, 255, 255, 0.356);
    box-shadow: none;
    border-radius: 9px;
}